@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Wijnhaven 107<br />
    Rotterdam<br />  
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:0937630@hr.nl">0937630@hr.nl</a><br />
    
</address>